<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:theme="@style/AppTheme"
        android:label="VN Planner"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".MainActivity" android:screenOrientation="unspecified" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" android:mimeType="application/octet-stream" />
                <data android:scheme="content" android:mimeType="application/zip" />
                <data android:scheme="content" android:mimeType="text/json" />
                <data android:scheme="content" android:mimeType="application/json" />
            </intent-filter>
        </activity>
    </application>
</manifest>
